h1 {
 margin-left: 560px;
}
h2{
  margin-top: 50px;
 margin-left: 80px;
 margin-bottom: 0;
}
hr{
  margin: 0px;
  padding: 0px;
  border-top-width: 3px;
  width: 820px;
  border-color: gray;
 border-style: solid;
}
a{
  margin: 10px;
}
.block{
  margin-left: 210px;
}
.tuto{
  margin-left: 30px;
}
